* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  color: #4d533c;
  width: 320px;
}

h4 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 237%;
  text-transform: uppercase;
  color: #4d533c;
}

p {
  color: rgba(77, 83, 60, 0.9);
  width: 320px;
}

a {
  color: #d4d6d4;
  text-decoration: underline;
  transition: color 0.3s ease;
}

a:hover {
  color: #FFD723;
}

@media screen and (min-width: 1200px) {
  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 128%;
    color: #4d533c;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: rgba(77, 83, 60, 0.9);
    width: 320px;
  }
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  outline: 1px dotted rgb(255, 187, 0);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0);
}
.header__container--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo--link {
  display: flex;
  align-items: center;
}
.header__name--image {
  width: 100px;
}
.header__logo--image {
  width: 30px;
}

.informations__services,
.informations__help,
.informations__company {
  display: none;
}

input {
  display: none;
}

label {
  display: block;
  height: 30px;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}
label span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #212121;
  position: absolute;
  top: 50%;
  left: 20%;
  transition: 0.3s;
  border-radius: 15px;
}
label span::before,
label span::after {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #212121;
  position: absolute;
  transition: 0.3s;
  border-radius: 15px;
}
label span::before {
  top: -8px;
}
label span::after {
  top: 8px;
}

input[type=checkbox]:checked ~ .nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

input[type=checkbox]:checked ~ label span {
  transform: rotate(45deg);
}

input[type=checkbox]:checked ~ label span::before {
  top: 0;
  transform: rotate(0);
}

input[type=checkbox]:checked ~ label span::after {
  top: 0;
  transform: rotate(90deg);
}

@media screen and (min-width: 780px) {
  .header__container--flex {
    display: flex;
  }
  nav {
    display: flex;
  }
  .header__menu--box {
    display: none;
  }
  .header__name--image {
    width: 180px;
  }
  .header__logo--image {
    width: 50px;
  }
  .informations__services:hover .services__list,
  .informations__help:hover .help__list,
  .informations__company:hover .company__list {
    opacity: 1;
    max-height: 500px;
  }
  .services__title,
  .help__title,
  .company__title {
    text-align: center;
    padding: 0 10px;
    border-radius: 7px;
    background-color: #fff;
    position: relative;
    z-index: 1;
  }
  .services__list,
  .help__list,
  .company__list {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    margin-top: -30px;
    padding: 30px 10px 0;
    border-radius: 7px;
    background-color: #DDDDDD;
  }
  .services__list--link,
  .help__list--link,
  .company__list--link {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 250%;
    color: #b6c197;
  }
}
.hero {
  background-image: url(../img/bg-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 12px 30px;
}
.hero__companies {
  display: none;
}
.hero__text, .hero__title, .hero__subtext {
  color: #ffffff;
}
.hero__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
}
.hero__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  width: 249px;
  padding: 10px 0;
}
.hero__subtext {
  width: 249px;
  padding-bottom: 14px;
}
.hero__link {
  color: #FFD723;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .hero {
    background-size: cover;
    padding: 188px 166px 211px;
  }
  .hero__companies {
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -300px;
    left: 165px;
    width: 1276px;
    height: 227px;
    border-radius: 2px;
    box-shadow: 50px 50px 100px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
  }
  .hero__container {
    position: relative;
  }
  .hero__text {
    font-weight: 400;
    font-size: 14px;
  }
  .hero__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 123%;
    width: 616px;
    padding: 22px 0;
  }
  .hero__subtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    width: 581px;
    padding-bottom: 45px;
  }
}
.whatwedo {
  position: relative;
}
.whatwedo__container--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.whatwedo__foryou, .whatwedo__aweseme_project {
  display: flex;
  flex-direction: column;
}
.whatwedo__image {
  width: 320px;
  height: 220px;
}

.aweseme_project, .ballenciaga__project,
.model__project, .booking__project {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card--whatwedo {
  position: static;
  width: 250px;
  height: 220px;
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 50px 50px 100px 0 rgba(0, 0, 0, 0.15);
}
.card--whatwedo__text--whatwedo {
  width: 150px;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #4d533c;
}

.text-card {
  width: 300px;
  padding-left: 30px;
}

.card__text--name {
  font-weight: 700;
  font-size: 22px;
  color: #4d533c;
}

.ceo {
  width: 100%;
  font-size: 16px;
  color: #152934;
}

.card__text--whatwedo {
  width: 270px;
}

@media screen and (min-width: 1200px) {
  .whatwedo {
    position: relative;
  }
  .whatwedo__foryou--box {
    margin-right: 160px;
  }
  .whatwedo__foryou--box, .whatwedo__foryou--text {
    padding-top: 244px;
  }
  .whatwedo__container--flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .whatwedo__foryou--cardphoto {
    display: flex;
    align-items: center;
  }
  .whatwedo__foryou--card {
    padding: 0 8px 60px 40px;
  }
  .whatwedo__foryou, .whatwedo__aweseme_project {
    flex-direction: row;
  }
  .whatwedo__foryou--text {
    font-style: italic;
    font-size: 24px;
    line-height: 167%;
    padding-bottom: 50px;
  }
  .whatwedo__foryou--card {
    width: 474px;
    height: 644px;
    box-shadow: 0 100px 100px 0 rgba(0, 0, 0, 0.15);
    background: #ffffff;
  }
  .whatwedo .ballenciaga__project, .whatwedo .model__project, .whatwedo .booking__project {
    position: relative;
  }
  .whatwedo__image {
    width: 735px;
    height: 550px;
  }
  .whatwedo .card--whatwedo {
    position: absolute;
    width: 453px;
    height: 243px;
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 50px 50px 100px 0 rgba(0, 0, 0, 0.15);
  }
  .whatwedo .card--whatwedo:first-child, .whatwedo .card--whatwedo:nth-child(2) {
    bottom: -65px;
    left: 322px;
  }
  .whatwedo .card--whatwedo:nth-child(1) {
    bottom: -65px;
    right: 322px;
  }
  .whatwedo .card--whatwedo__text--whatwedo {
    width: 390px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #4d533c;
  }
  .text-card {
    padding-left: 30px;
  }
  .card__text--name {
    font-weight: 700;
    font-size: 22px;
    color: #4d533c;
  }
  .ceo {
    width: 100%;
    font-size: 16px;
    color: #152934;
  }
  .aweseme_project, .ballenciaga__project,
  .model__project, .booking__project {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 100px;
  }
  .awesome__title {
    width: 460px;
    margin-right: 133px;
  }
  .balenciaga__box, .booking__box {
    margin-left: 96px;
  }
  .model__project {
    flex-direction: row-reverse;
  }
  .model__box {
    margin-right: 58px;
  }
  .balenciaga__title, .booking__title, .model__title {
    margin-bottom: 24px;
  }
  .balenciaga__subtext, .booking__subtext, .model__subtext {
    margin-bottom: 90px;
  }
  .foryou__text {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .foryou__title {
    font-size: 36px;
    line-height: 128%;
    width: 394px;
    margin-bottom: 35px;
  }
  .foryou__subtitle {
    font-size: 16px;
    line-height: 162%;
    color: rgba(33, 56, 66, 0.6);
    margin-bottom: 42px;
    width: 475px;
  }
}
.productidea__container--flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.productidea__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  margin-bottom: 60px;
}

.productidea__encourage {
  display: none;
}

.card {
  height: 255px;
}
.card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 142%;
  text-transform: uppercase;
  width: 183px;
  margin-bottom: 20px;
}
.card__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  color: rgba(33, 56, 66, 0.6);
  width: 192px;
}

.product__container--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .productidea {
    padding: 165px 0 150px;
  }
  .productidea__container--flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .productidea__title {
    width: 607px;
  }
  .product__container--flex {
    display: block;
    position: relative;
  }
  .productidea__encourage {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 1275px;
    height: 300px;
    padding: 70px 0 0 164px;
    box-shadow: 50px 130px 100px 0 rgba(0, 0, 0, 0.15);
    background: #fafafa;
  }
  .encourage__text {
    font-weight: 700;
    font-size: 60px;
    line-height: 123%;
    color: #4d533c;
    width: 685px;
    margin-bottom: 50px;
  }
  .encourage__link {
    font-weight: 700;
    font-size: 16px;
  }
  .design__text {
    margin-bottom: 56px;
  }
  .uxreview__text {
    margin-bottom: 90px;
  }
  .scopping__text {
    margin-bottom: 30px;
  }
  .codereview__text {
    margin-bottom: 60px;
  }
}
footer {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 227px 0 211px;
}

.informations__services,
.informations__help {
  padding-right: 70px;
}

.touch {
  text-align: center;
}

.touch___text {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #B6C197;
  margin-bottom: 50px;
}

.phone__text, .phone__address {
  font-weight: 400;
  font-size: 16px;
  line-height: 250%;
  color: #b6c197;
}

address {
  margin-left: 50px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.number, .address {
  font-weight: 700;
  font-size: 16px;
  line-height: 250%;
  color: #fff;
  text-decoration: none;
}

.c {
  font-size: 14px;
  color: #b5c096;
}

.informations {
  gap: 70px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.touch__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 237%;
  color: #fff;
  height: 30px;
  margin-bottom: 23px;
}

.touch__email {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 158%;
}

.informations__touch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.span__line::before {
  content: "";
  display: block;
  background: #5d6544;
  width: 100%;
  height: 1px;
}

.corporation {
  display: flex;
  justify-content: center;
  padding: 40px 0 40px;
}

.footer__logo {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444A34;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 20px;
  text-decoration: none;
}

.footer__social-link:hover {
  background-color: #FFD723;
}

.touch__email--container {
  text-align: center;
}

.footer__social-media {
  display: flex;
}

@media screen and (min-width: 1200px) {
  .span__line--horizontal::before {
    content: "";
    display: block;
    background: #5d6544;
    width: 1px;
    height: 100px;
    margin-left: 145px;
    margin-right: 210px;
  }
  .touch___text {
    font-weight: 400;
    font-size: 24px;
    line-height: 108%;
    color: #B6C197;
    width: 375px;
    margin-bottom: 23px;
  }
  .touch__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 378%;
    color: #fff;
    height: 100px;
    margin-bottom: 23px;
  }
}/*# sourceMappingURL=main.css.map */