* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
}

h2 {
  font-size: 36px;
  color: #4D533C;
  width: 400px;
}

p {
  color: rgba(77, 83, 60, 0.9);
  width: 421px;
}

a {
  color: #d4d6d4;
  text-decoration: underline;
}

a:hover {
  color: #FFD723;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1111px;
  margin: 0 auto;
  outline: 2px dotted orange;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 480px;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0);
}
.header__container--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo--link {
  display: flex;
}

input {
  display: none;
}

label {
  display: block;
  height: 30px;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}
label span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #212121;
  position: absolute;
  top: 50%;
  left: 20%;
  transition: 0.3s;
  border-radius: 15px;
}
label span::before,
label span::after {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #212121;
  position: absolute;
  transition: 0.3s;
  border-radius: 15px;
}
label span::before {
  top: -8px;
}
label span::after {
  top: 8px;
}

input[type=checkbox]:checked ~ .nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

input[type=checkbox]:checked ~ label span {
  transform: rotate(45deg);
}

input[type=checkbox]:checked ~ label span::before {
  top: 0;
  transform: rotate(0);
}

input[type=checkbox]:checked ~ label span::after {
  top: 0;
  transform: rotate(90deg);
}

.hero {
  background-image: url(../img/bg-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 188px 0 211px;
}
.hero__text, .hero__title, .hero__subtext {
  color: #ffffff;
}
.hero__text {
  font-size: 14px;
}
.hero__title {
  font-size: 60px;
  width: 616px;
  padding: 22px 0 24px;
}
.hero__subtext {
  width: 581px;
  padding-bottom: 45px;
}
.hero__link {
  color: #FFD723;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: underline;
}

.whatwedo {
  position: relative;
}
.whatwedo__container--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.whatwedo__foryou, .whatwedo__aweseme_project {
  display: flex;
  flex-direction: column;
}

.aweseme_project, .ballenciaga__project,
.model__project, .booking__project {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 1200px) {
  .whatwedo {
    position: relative;
  }
  .whatwedo__foryou--box {
    margin-right: 160px;
  }
  .whatwedo__foryou--box, .whatwedo__foryou--text {
    padding-top: 244px;
  }
  .whatwedo__container--flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .whatwedo__foryou--cardphoto {
    display: flex;
    align-items: center;
  }
  .whatwedo__foryou--card {
    padding: 0 8px 60px 40px;
  }
  .whatwedo__foryou, .whatwedo__aweseme_project {
    flex-direction: row;
  }
  .whatwedo__foryou--text {
    font-style: italic;
    font-size: 24px;
    line-height: 167%;
    padding-bottom: 50px;
  }
  .whatwedo__foryou--card {
    width: 474px;
    height: 644px;
    box-shadow: 0 100px 100px 0 rgba(0, 0, 0, 0.15);
    background: #ffffff;
  }
  .text-card {
    padding-left: 30px;
  }
  .card__text--name {
    font-weight: 700;
    font-size: 22px;
    color: #4d533c;
  }
  .ceo {
    width: 100%;
    font-size: 16px;
    color: #152934;
  }
  .aweseme_project, .ballenciaga__project,
  .model__project, .booking__project {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 100px;
  }
  .awesome__title {
    margin-right: 133px;
  }
  .balenciaga__box, .booking__box {
    margin-left: 96px;
  }
  .model__box {
    margin-right: 58px;
  }
  .balenciaga__title, .booking__title, .model__title {
    margin-bottom: 24px;
  }
  .balenciaga__subtext, .booking__subtext, .model__subtext {
    margin-bottom: 90px;
  }
}
.productidea__container--flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.productidea__title {
  font-size: 36px;
  margin-bottom: 60px;
}

.card {
  height: 255px;
}
.card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 142%;
  text-transform: uppercase;
  width: 183px;
  margin-bottom: 20px;
}
.card__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  color: rgba(33, 56, 66, 0.6);
  width: 192px;
}

.product__container--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .productidea {
    padding: 165px 150px;
  }
  .productidea__container--flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .productidea__title {
    width: 607px;
  }
  .product__container--flex {
    display: block;
  }
  .design__text {
    margin-bottom: 56px;
  }
  .uxreview__text {
    margin-bottom: 90px;
  }
  .scopping__text {
    margin-bottom: 30px;
  }
  .codereview__text {
    margin-bottom: 60px;
  }
}
footer {
  background-color: #50583B;
  padding: 310px 164px 30px;
}

.phone__text, .phone__address {
  font-weight: 400;
  font-size: 16px;
  line-height: 250%;
  color: #b6c197;
}

address {
  display: flex;
}

.number, .address {
  font-weight: 700;
  font-size: 16px;
  line-height: 250%;
  color: #fff;
}

.c {
  font-size: 14px;
  color: #b5c096;
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */