.hero {
	background-image: url(../img/bg-image.png);
	background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;
	padding: 100px 12px 30px;

	&__text, &__title,&__subtext{
		color: map-get($colors, 'color-font-white');
	}
	&__text{
		font-weight: 400;
		font-size: 12px;
		line-height: 133%;
	}
	&__title{
		font-weight: 700;
		font-size: 24px;
		line-height: 133%;
		width: 249px;
		padding: 10px 0;
	}
	&__subtext{
		width: 249px;
		padding-bottom: 14px;
	}
	&__link{
		color: map-get($colors, 'color-gold');
		font-family:'Montserrat', sans-serif;
		font-weight: 700;
		text-decoration: underline;
	}
}
@media screen and (min-width: 1200px){
	.hero {
		background-size: cover; 
		padding: 188px 166px 211px;
	}	
}