.whatwedo{
	position: relative;
	&__container--flex{
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		gap: 50px;// змінити
	}
	&__foryou,&__aweseme_project{
	display: flex;
	flex-direction: column;
	}
	&__image{
		width: 320px;
		height: 220px;
	}
}
.aweseme_project,.ballenciaga__project,
.model__project,.booking__project{
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	@media screen and (min-width:1200px){
		.whatwedo{
			position: relative;
			&__foryou--box{
				margin-right: 160px;
			}
			&__foryou--box, &__foryou--text{
				padding-top: 244px;
			}
			&__container--flex{
				display: flex;
				justify-content: center;
				flex-direction: row;
			}
			&__foryou--cardphoto{
				display: flex;
				align-items: center;
			}
			&__foryou--card{
				padding: 0 8px 60px 40px;
			}
			&__foryou,&__aweseme_project{
			flex-direction: row;
			}
			&__foryou--text{
				font-style: italic;
				font-size: 24px;
				line-height: 167%;
				padding-bottom: 50px;
			}
			&__foryou--card{
				width: 474px;
				height: 644px;
				box-shadow: 0 100px 100px 0 rgba(0, 0, 0, 0.15);
				background: #ffffff;
			}
			&__image{
				width: 735px;
				height: 550px;
			}
		}
		.text-card{
			padding-left: 30px;
		}
		.card__text--name{
			font-weight: 700;
			font-size: 22px;
			color: #4d533c;
		}
		.ceo{
			width: 100%;
			font-size: 16px;
			color: #152934;
		}
		.aweseme_project,.ballenciaga__project,
		.model__project,.booking__project{
				display: flex;
				flex-direction: row;
				gap: 30px;
				padding-top: 100px;
			}
		// .awesome__title{
		// 	margin-right: 133px;
		// }
		.balenciaga__box,.booking__box{
			margin-left: 96px;
		}
		.model__box{
			margin-right: 58px;
		}
		.balenciaga__title,.booking__title,.model__title{
			margin-bottom: 24px;
		}
		.balenciaga__subtext,.booking__subtext,.model__subtext{
			margin-bottom: 90px;
		}
	}