.productidea{
	&__container--flex{
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	&__title{
		// width: 607px;
		font-weight: 700;
		font-size: 24px;
		line-height: 125%;
		margin-bottom: 60px;
		
	}
}
.productidea__encourage{
	display: none;
}
.card{
	height: 255px;
	&__title{
		font-weight: 500;
		font-size: 24px;
		line-height: 142%;
		text-transform: uppercase;
		width: 183px;
		margin-bottom: 20px;

	}
	&__text{
		font-weight: 500;
		font-size: 14px;
		line-height: 186%;
		color: rgba(33, 56, 66, 0.6);
		width: 192px;
	}
}
.product__container--flex{
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media screen and (min-width:1200px){
	.productidea{
		padding: 165px 0 150px;
		&__container--flex {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
		}
		&__title{
			width: 607px;
		}
	}
	.product__container--flex{
		display: block;
		position: relative;
	}
	.productidea__encourage{
		display: flex;
		position: absolute;
		flex-direction: column;
		width: 1275px;
		height: 300px;
		padding: 70px 0 0 164px;
		box-shadow: 50px 130px 100px 0 rgba(0, 0, 0, 0.15);
		background: #fafafa;
		
	}
	.encourage__text{
		font-weight: 700;
		font-size: 60px;
		line-height: 123%;
		color: #4d533c;
		width: 685px;
		margin-bottom: 50px;
	}
	.encourage__link{
		font-weight: 700;
		font-size: 16px;
	}
	.design__text{
		margin-bottom: 56px;
	}
	.uxreview__text{
		margin-bottom: 90px;
	}
	.scopping__text{
		margin-bottom: 30px;
	}
	.codereview__text{
		margin-bottom: 60px;
	}
}