.productidea{
	&__container--flex{
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	&__title{
		// width: 607px;
		font-size: 36px;
		margin-bottom: 60px;
	}
}
.card{
	height: 255px;
	&__title{
		font-weight: 500;
		font-size: 24px;
		line-height: 142%;
		text-transform: uppercase;
		width: 183px;
		margin-bottom: 20px;

	}
	&__text{
		font-weight: 500;
		font-size: 14px;
		line-height: 186%;
		color: rgba(33, 56, 66, 0.6);
		width: 192px;
	}
}
.product__container--flex{
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media screen and (min-width:1200px){
	.productidea{
		padding: 165px 150px;
		&__container--flex {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
		}
		&__title{
			width: 607px;
		}
	}
	.product__container--flex{
		display: block;
	}
	.design__text{
		margin-bottom: 56px;
	}
	.uxreview__text{
		margin-bottom: 90px;
	}
	.scopping__text{
		margin-bottom: 30px;
	}
	.codereview__text{
		margin-bottom: 60px;
	}
}
// @media screen and (min-width:768px){
// 	.productidea{
// 		&__title{
// 			width: 500px;
// 		}
// 		&__container--flex {
// 			display: grid;
// 			grid-template-columns: repeat(2, 1fr);
// 			gap: 30px;
// 		}
// 	}
// 	.design__text{
// 		margin-bottom: 56px;
// 	}
// 	.uxreview__text{
// 		margin-bottom: 90px;
// 	}
// 	.scopping__text{
// 		margin-bottom: 30px;
// 	}
// 	.codereview__text{
// 		margin-bottom: 60px;
// 	}
// }