*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 16px;
	overflow-x: hidden;
}
h2{
	font-size: 36px;
	color: #4D533C;
	width: 400px;
}
p{	
	color: rgba(77, 83, 60, 0.9);
	width: 421px;
}
a{
	color: #d4d6d4;
	text-decoration: underline;
}